/* PAGE 2 BORDER */
.page2bord {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    background-color: #6DCFF6;
    text-align: center;
    height: 78px;
    font-size: 32pt;
    font-weight: bold;
  }
  .page2bord p {
    margin: 0px;
    line-height: 75px;
}
/* END OF PAGE 2 BORDER */
.t1bord {
    border-left: 5px solid #116389;
    background-color: #BDD5E1;
    height: 50px;
}
.t1bord {
    font-size: 24pt;
    color: #0E6491;
    line-height: 50px;
    padding-inline-start: 15px;
}
.title1 #p1a,#p1b {  
    font-weight: bold;
    color: red;
}
.title1 h3 {
    color: #1B6081;
    margin-bottom: -15px;
    font-size: 15pt;
}

.prg1,.prg2 {   
    font-size: 14pt;
}
.bluebor p {
    border-radius: 10px;
    border: 1px solid #196C84;
    color: #1B6081;
    margin-bottom: 50px;
    padding: 25px 30px 25px 30px;
}

/* TITLE 2 BORDER */
.t2 {
    border-left: 5px solid #F5999C;
    background-color: #FEE9E8;
    color: #F997A0;
}
#p4 {
    font-size: 14pt;
}
.title2 h3 {
    font-size: 15pt;
    margin-bottom: -15px;
    color: #F5989D;
}

/* LIST ITEM */
.olmain {
    padding: 0px;
}
.listitem {
    font-size: 14pt;
}
.listitem ol {
    counter-reset: section;
    list-style-type: none;
    line-height: 1.6;
}
.olmain li:before {
    counter-increment: section;
    content: counters(section, ".") ". ";
    color: #F5989D;
    font-weight: bold;
}
.olnav {
    font-weight: thin !important;
}
/* END OF LIST ITEM */

/* PINK BORDER */
.pinkbor p {
    border-radius: 10px;
    border: 1px solid #FFA0A5;
    color: #FFA0A5;
    margin-bottom: 35px;
    padding: 25px 30px 25px 30px;
}

/* TABLE , USE FROM LINK1.CSS */
table {
    color: #535353;
}
#td1a,#td2a,#td3a {
    width: 175px;
    background: #EBEBEB;: 

}